<p>
  Thank you for submitting the form! You have submitted this form <%= @count %> time(s) now.
</p>
<h1>Submitted Info:</h1>
<p>Name: <%= @student[:name] %></p>
<p>Dojo Location: <%= @student[:location] %></p>
<p>Favorite Language: <%= @student[:language] %></p>
<p>Comment: <%= @student[:comment] %></p>
<a href="/">Back to Survey</a>
